/* body tags usually have 8 margin */
body{
    margin: 0;
    padding: 0;
    /* background-color: burlywood; */
}

section{
    height: 800px;
    width: 1500px;
    position: absolute;
    top: 20%;
    left: 20%;
}

#tablet{
    width: 700px;
    height: 350px;
    /* background-color: royalblue; */
    margin: 0 auto;
    position: relative;
    top: 25%;
    /* left: 30%; */
}


#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-image: url('/assets/vecteezy_technology-background_yd0321_generated.jpg');
    position: relative;
    top: 20%;
    left: 14.5%;
}
#character{
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.blocks{
    width: 20px;
    height: 20px;
    left: 480px;
    position: relative; 
    top: -21px;
}


@keyframes block{
    0%{left:480;}
    100%{left: -10px;}
}

#controllerLeft{
    height: 350px;
    width: 200px;
    background-color: blueviolet;
    border: 1px solid black;
    position: relative;
    top: -18.8%;
    left: 13.2%;
    border-radius: 50% 0 0 50%;
}

#controllerRight{
    height: 350px;
    width: 200px;
    /* background-color: blueviolet; */
    border: 1px solid black;
    position: relative;
    bottom: 62.8%;
    left: 73.3%;
    border-radius: 0 50% 50% 0;
}


.leftButtons{

}

#button1{
    height: 50px;
    width: 20px;
    position: relative;
    top: 97px;
    left: 100px;
}

#button2{
    width: 50px;
    height: 20px;
    position: relative;
    top: 140px;
    left: 19px;
}

#button3{
    height: 50px;
    width: 20px;
    position: relative;
    top: 185px;
    left: 22px;
}

#button4{
    width: 50px;
    height: 20px;
    position: relative;
    top: 140px;
    left: 25px;
}

.rightButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#normal{
    position: relative;
    top: 50%;
    left: 6%;
}

#easy{
    position: relative;
    top: 35%;
    left: 9.5%;
}

#hard{
    position: relative;
    top: 21%;
    left: 4%;
}


#reset{
    position: relative;
    left: 33%;
    top: 20%;
}

#shop{
    max-width: 2.2%;
    background-color: rgba(199, 255, 199, 0.6);
    border-radius: 25%;
    position: relative;
    left: 48%;
    margin: 0%;
}
#coinText{
    max-width: 4%;
    background-color: rgba(199, 255, 199, 0.6);
    border-radius: 25%;
    position: relative;
    left: 48%;
    margin: 0%;
}

table, tr, td{
    border: 3px solid black;
    padding: 10px;
    position: relative;    
}




.tableButton{
    position: relative;
    /* z-index brings the element to the front or back by 1 or -1 */
    z-index: 1
}
.grid-container {
    margin: 0 auto;
    max-width: 500px;
    max-height: 300px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    padding: 10px;
    position: relative;
}


.tableName, .tablePrice, .input {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    position: relative;
}

